.nav-link {
    color: rgba(255,255,255,.55);
}

.nav-link:focus, .nav-link:hover {
    color: rgba(255,255,255,.55);
}

.user-profile {
    text-decoration: none;
    color:white;
    padding-left: 10px;
    align-self: center;
}

.user-profile:hover {
    color:white;
}

.fa-user, .fa-shopping-cart {
    font-size:20px;
}

.nav-link {
    padding-right: 0;
    padding-left: 0;
    padding-top:0.5rem
}

@media (min-width: 992px) {
    .dropdown-menu[data-bs-popper] {
        left: -100px;
    }
}
